<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <script src="./vue.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div id="app">
     
      <div>
        <h1>Desafios</h1>
         <div class="container_title"> 
           <button  @click="changeScreen(0)" class="avaiable">Somas com unidades</button>
            <button :disabled="avaiableScreens[0].item" @click="changeScreen(1)":class="{avaiable:!avaiableScreens[0].item}" >Soma Dezenas</button>           
           <button :disabled="avaiableScreens[1].item" @click="changeScreen(2)":class="{avaiable:!avaiableScreens[1].item}" >Subtração</button>
            <button :disabled="avaiableScreens[2].item" @click="changeScreen(3)" :class="{avaiable:!avaiableScreens[2].item}">Tabuada 2 Primeira Parte</button>
            <button :disabled="avaiableScreens[3].item" @click="changeScreen(4)" :class="{avaiable:!avaiableScreens[3].item}" >Tabuada 2 Segunda Parte</button>
            <button :disabled="avaiableScreens[4].item" @click="changeScreen(5)" :class="{avaiable:!avaiableScreens[4].item}">Tabuada 2 Completa</button>    
           <button :disabled="avaiableScreens[5].item" @click="changeScreen(6)" :class="{avaiable:!avaiableScreens[5].item}">Tabuada 3 Primeira Parte</button>
           <button :disabled="avaiableScreens[6].item" @click="changeScreen(7)" :class="{avaiable:!avaiableScreens[6].item}" >Tabuada 3 Segunda Parte</button>
           <button :disabled="avaiableScreens[7].item" @click="changeScreen(8)" :class="{avaiable:!avaiableScreens[7].item}">Tabuada 3 Completa</button> 
           <button :disabled="avaiableScreens[8].item" @click="changeScreen(9)" :class="{avaiable:!avaiableScreens[8].item}">Tabuada 4 Primeira Parte</button>
           <button :disabled="avaiableScreens[9].item" @click="changeScreen(10)" :class="{avaiable:!avaiableScreens[9].item}" >Tabuada 4 Segunda Parte</button>
           <button :disabled="avaiableScreens[10].item" @click="changeScreen(11)" :class="{avaiable:!avaiableScreens[10].item}">Tabuada 4 Completa</button>        
           <button :disabled="avaiableScreens[11].item" @click="changeScreen(12)" :class="{avaiable:!avaiableScreens[11].item}">Soma com Dezenas Segunda parte</button>       

         </div>
         

        <padrao
          @liberaexercicio="liberaTelas" 
          :primeira_variavel_numerica=10 
          :libera_exercicio="0" 
          title= "Somar Unidades"
          :first=25 
          :second=30 
          :third=35
          :fourth=45
          :fifth=50          
          signal='+'
          call_reset=0
          :polivariaveis=1      
          v-if="screens[0].item" 
        ></padrao>

       <padrao
        @liberaexercicio="liberaTelas"       
        :libera_exercicio="1" 
        title="Somar Dezenas"
        :primeira_variavel_numerica=40
        :first=40 
        :second=50 
        :third=60
        :fourth=65
        :fifth=75
        signal='+'
        call_reset="1"
        :polivariaveis=1
        v-if="screens[1].item"
        ></padrao>

         <padrao
        @liberaexercicio="liberaTelas"
        :libera_exercicio="2" 
        title="Subtrair"
        :primeira_variavel_numerica=9
        :segundo_limite=20
        :terceiro_limite=10
        :first=40 
        :second=50 
        :third=60
        :fourth=65
        :fifth=75
        signal='-'
        call_reset="2"
        :polivariaveis=2
         v-if="screens[2].item">
        </padrao>  

        <padrao
         @liberaexercicio="liberaTelas"
         :libera_exercicio="3" 
         title="Tabuada do dois"
         :primeira_variavel_numerica=2
         :segundo_limite=5
         :terceiro_limite=10
         :first=40 
         :second=50 
         :third=60
         :fourth=65
         :fifth=75
         signal='*'
         call_reset="3"
         :polivariaveis=3
          v-if="screens[3].item">
        </padrao>

        <padrao
        @liberaexercicio="liberaTelas"
        :libera_exercicio="4" 
        title="Tabuada do dois Segunda parte"
        :primeira_variavel_numerica=2
        :segundo_limite=11
        :terceiro_limite=6
        :first=40 
        :second=50 
        :third=60
        :fourth=65
        :fifth=75
        signal='*'
        call_reset="4"
        :polivariaveis=4
         v-if="screens[4].item">
       </padrao>

       <padrao
       @liberaexercicio="liberaTelas"
       :libera_exercicio="5" 
       title="Tabuada do dois Completa"
       :primeira_variavel_numerica=2
       :segundo_limite=11
       :terceiro_limite=0
       :first=40 
       :second=50 
       :third=60
       :fourth=65
       :fifth=75
       signal='*'
       call_reset="5"
       :polivariaveis=4
        v-if="screens[5].item">
      </padrao>

      <padrao
      @liberaexercicio="liberaTelas"
      :libera_exercicio="6" 
      title="Tabuada do três"
      :primeira_variavel_numerica=3
      :segundo_limite=5
      :terceiro_limite=10
      :first=40 
      :second=50 
      :third=60
      :fourth=65
      :fifth=75
      signal='*'
      call_reset="6"
      :polivariaveis=3
       v-if="screens[6].item">
     </padrao>

     <padrao
     @liberaexercicio="liberaTelas"
     :libera_exercicio="7" 
     title="Tabuada do três Segunda parte"
     :primeira_variavel_numerica=3
     :segundo_limite=11
     :terceiro_limite=6
     :first=40 
     :second=50 
     :third=60
     :fourth=65
     :fifth=75
     signal='*'
     call_reset="7"
     :polivariaveis=4
      v-if="screens[7].item">
    </padrao>

    <padrao
    @liberaexercicio="liberaTelas"
    :libera_exercicio="8" 
    title="Tabuada do trêS Completa"
    :primeira_variavel_numerica=3
    :segundo_limite=11
    :terceiro_limite=0
    :first=40 
    :second=50 
    :third=60
    :fourth=65
    :fifth=75
    signal='*'
    call_reset="8"
    :polivariaveis=4
     v-if="screens[8].item">
   </padrao>

   <padrao
   @liberaexercicio="liberaTelas"
   :libera_exercicio="9" 
   title="Tabuada do quatro"
   :primeira_variavel_numerica=4
   :segundo_limite=5
   :terceiro_limite=10
   :first=40 
   :second=50 
   :third=60
   :fourth=65
   :fifth=75
   signal='*'
   call_reset="9"
   :polivariaveis=3
    v-if="screens[9].item">
  </padrao>

  <padrao
  @liberaexercicio="liberaTelas"
  :libera_exercicio="10" 
  title="Tabuada do três Segunda parte"
  :primeira_variavel_numerica=4
  :segundo_limite=11
  :terceiro_limite=6
  :first=40 
  :second=50 
  :third=60
  :fourth=65
  :fifth=75
  signal='*'
  call_reset="10"
  :polivariaveis=4
   v-if="screens[10].item">
 </padrao>

 <padrao
 @liberaexercicio="liberaTelas"
 :libera_exercicio="11" 
 title="Tabuada do quatro Completa"
 :primeira_variavel_numerica=4
 :segundo_limite=11
 :terceiro_limite=0
 :first=40 
 :second=50 
 :third=60
 :fourth=65
 :fifth=75
 signal='*'
 call_reset="11"
 :polivariaveis=4
  v-if="screens[11].item">
</padrao>

<padrao
@liberaexercicio="liberaTelas"       
:libera_exercicio="12" 
title="Somar Dezenas segunda parte"
:primeira_variavel_numerica=90
:first=55
:second=65
:third=75
:fourth=90
:fifth=110
signal='+'
call_reset="12"
:polivariaveis=1
v-if="screens[12].item"
></padrao>
</div>
      </div>
    </div>

    <script type="module">
      import padrao from "./components/default.js";    

      const vm = new Vue({
        el: "#app",
        components: {
          padrao,          
        },
        data: {
          nove:9,       
          reset:0,
          ativo:false,
            boo:false,
            nome:"Valmyr Tavares",
          somaUnidade: false,
          somaDezena: "",
          testeEmmit: "",
          screens: [
            { item: false },
            { item: false },
            { item: false },
            { item: false },
            { item: false },
            { item: false },
            { item: false },
            { item: false },
            { item: false },
            { item: false },
            { item: false },
            { item: false },
            { item: false },
            { item: false },
            { item: false },
            { item: false },
            { item: false },
          ],
          avaiableScreens: [
            { item: true },
            { item: true },
            { item: true },
            { item: true },
            { item: true },
            { item: true },
            { item: true },
            { item: true },
            { item: true },
            { item: true },
            { item: true },
            { item: true },
            { item: true },
            { item: true },
            { item: true },
            { item: true },
            { item: true }
          ],
        },
        methods: {
          liberaTelas(n) {                        
            this.avaiableScreens[n].item = false;    
           //localStorage.setItem("game", JSON.stringify(this.avaiableScreens))              
          },
          changeScreen(a) {           
            let i = 0;
            this.screens;
            for (i = 0; i < this.screens.length; i++) {
              this.screens[i].item = false;
            }          
            this.screens[a].item = true;          
           
          },
          // keepData(){
          //   if(localStorage.hasOwnProperty("game")){
          //     this.avaiableScreens = JSON.parse(localStorage.getItem("game"))
          //   }else{
          //     for (let i = 0; i < this.screens.length; i++) {
          //     this.avaiableScreens[i].item = false;
          //   }    
          //   }
          // }
        },
        created(){
        //this.keepData()
        }
      });
    </script>
  </body>
</html>
