.main_content {
  padding: 5px;
  width: 90%;
  margin: 10px auto;
  border: solid 1px black;
}
.main_content h1 {
  text-align: center;
}
.content {
  width: 40%;
  display: flex;
  justify-content: space-around;
  margin: 10px auto;
}
.corectItem {
  border: solid green 3px;
}
.incorectItem {
  border: solid 3px red;
}
.content input {
  max-width: 60px;
}
.coeficientes {
  width: 110px;
  display: flex;
  justify-content: space-around;
}
.coeficientes p {
  width: 15px;
  margin: 0px 5px;
}
.result {
  width: 80%;
    margin: 1px -4%;
  position:absolute;
  border: solid 4px red;
  padding:20px;
  background:rgb(196, 219, 66);
  top:20%;
  left:10%;
  text-align: center;
  border: solid 1px black;
}
.result .evaluation_grade{
  color:black;
  font-size:35px;
}
.result .evaluation_grade span{
  color:red;
  font-size:35px;
}
.result .evaluation_description{
  font-size: 24px;
    width: 80%;
    margin: 1px auto;
}


.tempo {
  text-align: center;
}
button {
  color: red;
  border: none;
}
.avaiable {
  color: green !important;
  cursor: pointer;
}
.container_title {
  display: flex;
  flex-direction: column;
  width: 95%;
}
.container_title button {
  margin: 5px;
  padding: 5px;
  font-size: 15px;
  width: 100%;
}
.main_menu{
  width: 100%;
  position:absolute;
  top:0;
  left:0;
  background:white;
  transition: 1s;
  animation-direction: alternate;
}
.menu_of{
  left:-100%;
}
.frontButtonWrapper{
  display:flex;
  justify-content: space-between;
}
